n8n-workflows/OBD Data Analyzer AI.json
{
  "name": "Jarvis OBD Data Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automotive-diagnostic-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -80
      ],
      "id": "webhook-id",
      "name": "Webhook",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "automotive-knowledge-base",
          "mode": "list",
          "cachedResultName": "automotive-knowledge-base"
        },
        "options": {
          "pineconeNamespace": "={{ $json.body.marca.replace(/\\s+/g, '') }}_{{ $json.body.modello.replace(/\\s+/g, '') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -368,
        352
      ],
      "id": "pinecone-id",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "PineconeApi Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        560
      ],
      "id": "embeddings-id",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        336
      ],
      "id": "openai-tool-model-id",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        160
      ],
      "id": "openai-agent-model-id",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.email }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        128
      ],
      "id": "memory-id",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==LINGUA REPORT: {{ $json.body.lingua }}\n\nDati Veicolo:\n- Auto: {{ $json.body.marca }} {{ $json.body.modello }} ({{ $json.body.anno }})\n- KM: {{ $json.body.kmAttuali }}\n- Motore: {{ $json.body.motore }}\n- Cambio: {{ $json.body.cambio }}\n\nStorico Manutenzione:\n{{ JSON.stringify($json.body.storicoLavori) }}\n\nDati Diagnostici OBD (Real-time):\n- Batteria: {{ $json.body.datiDallaCentralina.voltaggioBatteria }}\n- Errori DTC: {{ $json.body.datiDallaCentralina.codiciErrore }}\n- Temp. Liquido (ECT): {{ $json.body.datiDallaCentralina.tempLiquidoRaffreddamento }}\n- Massa Aria (MAF): {{ $json.body.datiDallaCentralina.massaAria }}\n- Carico Motore: {{ $json.body.datiDallaCentralina.caricoMotore }}\n- Temp. Aspirazione (IAT): {{ $json.body.datiDallaCentralina.tempAspirazione }}\n- Pressione Rail: {{ $json.body.datiDallaCentralina.pressioneRail }}\n\nAnalizza i dati tecnici e consulta i manuali per generare il report in {{ $json.body.lingua }}.",
        "options": {
          "systemMessage": "### IDENTITY & TONE\nSei Jarvis, un Ingegnere Meccanico Senior esperto in modelli Alfa Romeo e Audi. Il tuo approccio è analitico e rigoroso.\n\n### PROTOCOLLO DI STANDARDIZZAZIONE (OBBLIGATORIO)\nValuta sistematicamente i 7 pilastri della meccanica: Distribuzione, Olio/Filtri, Trasmissione, Sospensioni, Post-trattamento (DPF/EGR), Freni, Impianto Elettrico.\n\n### LOGICA DIAGNOSTICA OBD\nInterpreta i dati fisici ricevuti: ECT, MAF, RAIL PRESSURE e DTC."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -304,
        -80
      ],
      "id": "agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Consultazione manuali d'officina ufficiali.",
        "topK": 15
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -160,
        128
      ],
      "id": "tool-id",
      "name": "ricerca_manuali_tecnici"
    },
    {
      "parameters": {
        "jsCode": "// Codice di formattazione HTML per il report finale"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ],
      "id": "code-id",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinatario }}",
        "subject": "={{ $json.oggetto }}",
        "message": "={{ $json.corpoHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -80
      ],
      "id": "gmail-id",
      "name": "Send a message",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Pinecone Vector Store": { "ai_vectorStore": [[{ "node": "ricerca_manuali_tecnici", "type": "ai_vectorStore", "index": 0 }]] },
    "Embeddings OpenAI": { "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]] },
    "OpenAI Chat Model1": { "ai_languageModel": [[{ "node": "ricerca_manuali_tecnici", "type": "ai_languageModel", "index": 0 }]] },
    "OpenAI Chat Model2": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory1": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "ricerca_manuali_tecnici": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sanitized-instance-id"
  }
}
