n8n-workflows/OBD Data Analyzer AI.json
{
  "name": "OBD Data Analyzer AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automotive-obd-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -80
      ],
      "id": "webhook-node-id",
      "name": "Webhook",
      "webhookId": "YOUR_UNIQUE_WEBHOOK_ID"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "automotive-knowledge-base",
          "mode": "list",
          "cachedResultName": "automotive-knowledge-base"
        },
        "options": {
          "pineconeNamespace": "={{ $json.body.marca.replace(/\\s+/g, '') }}_{{ $json.body.modello.replace(/\\s+/g, '') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -368,
        352
      ],
      "id": "pinecone-vector-store-id",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        560
      ],
      "id": "openai-embeddings-id",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        336
      ],
      "id": "openai-chat-model-1-id",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        160
      ],
      "id": "openai-chat-model-2-id",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.email }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        128
      ],
      "id": "memory-buffer-id",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LINGUA REPORT: {{ $json.body.lingua }}\n\nDati Veicolo:\n- Auto: {{ $json.body.marca }} {{ $json.body.modello }} ({{ $json.body.anno }})\n- KM: {{ $json.body.kmAttuali }}\n- Motore: {{ $json.body.motore }}\n- Cambio: {{ $json.body.cambio }}\n\nStorico Manutenzione:\n{{ JSON.stringify($json.body.storicoLavori) }}\n\nDati Centralina:\n- Batteria: {{ $json.body.datiDallaCentralina.voltaggioBatteria }}\n- Errori: {{ $json.body.datiDallaCentralina.codiciErrore }}\n\nAnalizza i dati e consulta i manuali tecnici per generare il report in {{ $json.body.lingua }}.",
        "options": {
          "systemMessage": "### IDENTITY\nSei Jarvis, Ingegnere Meccanico Senior. Devi essere tecnicamente inappuntabile.\n\n### REGOLE DI FORMATTAZIONE (TASSATIVE)\n1. Usa SEMPRE le barre verticali '|' per le tabelle.\n2. Ogni sezione deve essere racchiusa tra i suoi tag START/END.\n3. Lo STATO deve essere una sola parola: ROSSO, GIALLO o VERDE.\n\n### LOGICA TECNICA (BANCA DATI)\n- Cerca nel database il motore specifico.\n- Se un componente critico è oltre la scadenza e non è documentato, scrivi ROSSO.\n- CHECKLIST_MODELLO: Estrai dal database i difetti noti per questo modello/KM.\n\n### SCHEMA DI USCITA\n[START_ANALISI]\n(Analisi discorsiva qui)\n[END_ANALISI]\n\n[START_TABELLA]\n| Componente | Scadenza | STATO | Nota |\n|---|---|---|---|\n(Righe della tabella qui)\n[END_TABELLA]\n\n[START_CHECKLIST]\n(Elenco puntato dei difetti noti)\n[END_CHECKLIST]\n\n[START_OBD]\n(Analisi voltaggio e codici errore)\n[END_OBD]\n\n<DATA>\n{ \"health_score\": 0-100, \"consiglio_rapido\": \"...\" }\n</DATA>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -304,
        -80
      ],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Utilizza questo strumento per consultare i manuali d'officina ufficiali.",
        "topK": 15
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -160,
        128
      ],
      "id": "vector-store-tool-id",
      "name": "ricerca_manuali_tecnici"
    },
    {
      "parameters": {
        "jsCode": "// (Codice JavaScript per la formattazione HTML mantenuto intatto per funzionalità)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -80
      ],
      "id": "js-code-format-id",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinatario }}",
        "subject": "={{ $json.oggetto }}",
        "message": "={{ $json.corpoHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -80
      ],
      "id": "gmail-node-id",
      "name": "Send a message",
      "webhookId": "YOUR_GMAIL_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Pinecone Vector Store": { "ai_vectorStore": [[{ "node": "ricerca_manuali_tecnici", "type": "ai_vectorStore", "index": 0 }]] },
    "Embeddings OpenAI": { "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]] },
    "OpenAI Chat Model1": { "ai_languageModel": [[{ "node": "ricerca_manuali_tecnici", "type": "ai_languageModel", "index": 0 }]] },
    "OpenAI Chat Model2": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Simple Memory1": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "ricerca_manuali_tecnici": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "sanitized-version-id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sanitized-instance-id"
  },
  "id": "sanitized-workflow-id",
  "tags": []
}
